/*RESET*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";

@import "html/header";
@import "html/main";
@import "html/footer";
@import "html/Como-comprar";
@import "html/Contacto";
@import "html/Productos";
@import "html/Sobre-nosotros";

@import "mq/992px/header";
@import "mq/992px/main";
@import "mq/992px/footer";
@import "mq/992px/Productos";
@import "mq/992px/Contacto";

@import "mq/420px/header";
@import "mq/420px/main";
@import "mq/420px/footer";
@import "mq/420px/Sobre-nosotros";
@import "mq/420px/Productos";
@import "mq/420px/Como-comprar";
@import "mq/420px/Contacto";















