body{
	main{
		.information{
			h2{
                font-size: 1.4rem;
            }
			p{
                font-size: 0.8rem;
            }
			.list{
                font-size: 0.8rem;
				ol{
					li{
					}
				}
			}
		}
	}
}