@media screen and (max-width:420px){
    body{
        main{
            .carrousel-container{
                .information{
                    h2{
                        font-size: 1.2rem;
    
                    }
                    p{
                        font-size: 0.8rem;
    
                    }
                }
    
                .contact{
                    fieldset{
                        legend{
                            h3{
                                font-size: 1rem;
    
                            }
                            .input{
                                font-size: 0.8rem;
                                label{
    
                                }
                                input{
                                    font-size: 0.8rem;
    
                                }
                            }
                        }
                    }
    
    
                }
            }    
        }
    
    }

}

