
@media screen and (max-width:420px){
    body{
        main{
            .carrousel-container{                
                .carrousel{
                    h2{
                        font-size: 1.2rem;
                    }
                    h3{
                        font-size: 1rem;
                    }
                    .products-button{
                        .only-products{
                            .product-carrousel{
                                width: 40%;
                                div{
                                    
                                    img{
            
                                    }
                                    p{
                                        font-size: 0.8rem;
                                    }
                                }

                            }

                        }


                    }
                        
                }

            }
        }
    }

}
