
@media screen and (max-width:420px){
    body{
        main{
            .carrousel-container{
                .carrousel{
                    h2{
                        font-size: 1.2rem;
                    }
                    h3{
                        font-size: 1.1rem;
                    }
                    .product-carrousel{
                        div{
                            img{
    
                            }
                            p{
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
    
            }
        }
    }

}
