@media screen and (max-width:420px){
    body{
        main{
            .carrousel-container{
                .information{
                    h2{
                        font-size: 1.2rem;

                    }
                    p{
                        font-size: 0.8rem;
                        margin: 0;

                    }
                }
                .video{                    
                    @include margin-padding (0rem, 0rem);
                    display: flex;
                    justify-content: center;

                    width:100px;
                    .info-video{


                    }
                }
            }

        }
    }
}