@media screen and (max-width:992px){
    body{
        main{
            main{
                .container-newseason{
                    .information{
                        h2{
                            font-size: 5rem;
        
                        }
                        p{
                            font-size: 1.2rem;
        
                        }
                    }
        
                    .contact{
    
                        fieldset{
                            legend{
                                h3{
                                    font-size: 5rem;
        
                                }
                                .input{
                                    padding: 0.5rem;
                                    font-size: 2rem;
                                    label{
        
                                    }
                                    input{
                                        font-size: 2rem;
        
                                    }
                                }
                            }
                        }
        
        
                    }
                }    
            }
    
    
    
        }
    
    }

}
