@media screen and (max-width:992px){
    body{
        main{            
            .carrousel-container{
                .information{
                    h2{
                        font-size: 1.4rem;
    
                    }
                    p{
                        font-size: 1rem;
    
                    }
                }
    
                .contact{

                    fieldset{
                        legend{
                            h3{
                                font-size: 1.3rem;
    
                            }
                            .input{
                                padding: 0.5rem;
                                font-size: 1rem;
                                label{
    
                                }
                                input{
                                    font-size: 1rem;
    
                                }
                            }
                        }
                    }
    
    
                }
            } 
    
    
    
        }
    
    }

}
