body{
    main{
        .carrousel-container{
            .carrousel{
                h2{
                    font-size: 2rem;
                }
                h3{
                    font-size: 1.8rem;
                }
                .product-carrousel{
                    div{
                        img{

                        }
                        p{
                            font-size: 0.7rem;
                        }
                    }
                }
            }

        }
    }
}