body{
    main{
        .carrousel-container{
                .carrousel{      

                    h2{
                        font-size: 1.6rem;
                    }
                    h3{
                        font-size: 1.5rem;
                    }

                    .products-button{                         
                        @extend %estilosFlexDos;              
 
                        .only-products{                     
                            .product-carrousel{      
                                div{
                                    p{
                                        font-size: 1.2rem;
                                    }
                                }
                            }

                        }

                    }


                }
        }
    }
}