$font-family: 'IM Fell DW Pica', serif;
$color-texto: rgb(81, 71, 71);
$color-background-base:beige;
$color-background-uno: hsl(40, 84%, 65%);
$color-background-dos: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(33, 100%, 88%, 1) 100%);
$color-background-tres: hsl(40, 94%, 74%);
$color-background-cuatro: hsl(33, 100%, 88%);
$button-background: linear-gradient(90deg, hsla(40, 84%, 65%, 1) 0%, hsla(40, 94%, 74%, 1) 50%, hsla(33, 100%, 88%, 1) 100%);