$font-family: 'IM Fell DW Pica', serif;
$color-texto: rgb(81, 71, 71);
$color-background-base:beige;
$color-background-uno: #f1be59;
$color-background-dos: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
$color-background-tres: #fbd07c;
$color-background-cuatro: bisque;
$button-background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);;